.holiday_card {
    display: flex;
    gap: 0.625rem;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    margin: 0.625rem;
    padding: 0.625rem;
}

.holiday_card_image {
    width: 50%;
    height: 16rem;
    background-color: #f0f0f0;
    margin-bottom: 0.625rem;
}

.holiday_card_details {
    width: 50%;
    padding: 0.625rem;
}