.search_filter_menu {
    display: flex;
    padding: 1rem;
    gap: 1rem;
}

.search_container {
    display: flex;
    flex-direction: column;
}

.search_body {
    display: flex;
}

.filter_items {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
}

.filter_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter_hotel_name {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.filter_hotel_name > label {
    font-weight: bold;
}

.filter_hotel_name_content {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    font-weight: bold;
    align-items: center;
    gap: 0.5rem;
}

.filter_hotel_name_content > input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
} 

.clear_filters_button {
    background-color: #33549c;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.filter_rating_content {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.filter_star_rating {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filter_star_rating  > span {
    font-weight: bold;
    color: #333;
    margin-right: 0.5rem;
}

.filter_price_range {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: bold;
}

.filter_holiday_results {
    width: 100%;
}

@media (max-width: 768px) {
    .search_filter_menu {
        flex-direction: column;
        width: 100%;
    }

    .filter_items {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .search_filter_menu {
        flex-direction: column;
        width: 100%;
    }

    .filter_items {
        width: 100%;
    }
}